################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/InventoryArchiveOfLindenInventoryTransferredFromAMT_To_SC/obj/Debug
/InventoryArchiveOfLindenInventoryTransferredFromAMT_To_SC/bin
